/* 폰트 */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* 꼭 필요한 css */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'NanumSquareRound';
}
    
/* 헤더 */
.header{
    position: fixed;
    height: 10vh;
    width: 100%;
    top: 0px; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
}
.header_tab{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 70px;
    width: 500px;
}
.header_tab_botton{
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 20px;
    margin-left: 20px;
    background: none;
    border: none;
    font-size: 20px;
}
.header_tab_botton:hover{
    background-color: #99a6be;
    cursor: pointer;
}
.header_tab_hr{
    border: 1px solid black;
    width: 0.01px;
    height: 20px;
}
/* 헤더 끝 */